#!/bin/bash
set -e;
set -u;
set -o pipefail;

function finish {
  s=$?;
  if [ $s -eq 0 ]; then
    touch /home/pi/nagios_plugins_build.success && rm -Rf /home/pi/nagios_plugins_build.failed;
    echo "Status exit code: $?";
  else
    echo $s > /home/pi/nagios_plugins_build.failed && rm -Rf /home/pi/nagios_plugins_build.success;
  fi;
}
trap finish EXIT;

cd {{ nagios_source_download_dir }};
tar  xzf {{ nagios_plugins_download_url | basename }};
cd {{ nagios_plugins_download_url | basename | replace('.tar.gz', '') }};
./configure
make
make install
