#!/bin/bash
set -e;
set -u;
set -o pipefail;

function finish {
  s=$?;
  if [ $s -eq 0 ]; then
    touch /home/pi/nagios_build_script.success && rm -Rf /home/pi/nagios_build_script.failed;
    exit $s;
  else
    echo $s > /home/pi/nagios_build_script.failed && rm -Rf /home/pi/nagios_build_script.success;
  fi;
}
trap finish EXIT;

cd {{ nagios_source_download_dir }};
tar xzf {{ nagios_source_url | basename }};
cd {{ nagios_source_url | basename | replace('.tar.gz', '') }};
./configure --with-httpd-conf=/etc/apache2/sites-enabled
make all
make install
make install-init
make install-commandmode
make install-config
make install-webconf
